@keyframes appartion{
    0%{ 
        opacity :0;
    }

    30%{
        opacity :0;
        transform: translateY(50%);
    }  


   
    100% {
        opacity: 1;
        transform: translateY(0%);
       

    }
}

.first{
    animation: appartion 3s  ease-in-out;
    
}
.second{
    animation: appartion 2s ease-in-out;

}
.three{
    animation: appartion 1s  ease-in-out;

}
.four{
    animation: appartion 4s  ease-in-out;

}

// @keyframes glissement{
//     0% {
//         transform: translateX(-200px);
//         opacity :0;

//     }
//     100% {
//         transform: translateX(0px);
//         opacity: 1;
//     }
// }
// .sub_title{
//     animation: glissement 3s  ease-in-out;}