

@keyframes appartion{
    0%{  
        transform: translateY(-50%);
        opacity :0;
    }
   
    100% {
        opacity: 1;
        transform: translateY(0%);
       

    }
}

.first{
    animation: appartion 1000ms  ease-in-out alternate;

}
.second{
    animation: appartion 1500ms ease-in-out alternate;

}
.three{
    animation: appartion 2000ms  ease-in-out;
    animation-direction: alternate
}
.four{
    animation: appartion 2500ms  ease-in-out;
    animation-direction: alternate
}
