// MISE EN FORME TEXTE LOGO DU HEADER

header {
    display: flex;
 
    width: 100%;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 63px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .logo_title {
        font-family: Shrikhand;
        font-size: 30px;
        font-weight: 400;
        color: $dark;
    }


    
    .big_title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 63px;
        margin-right: 30px;
    
        
    }

}
