

// MISE EN FORME CARDS RESTAURANTS PAGE ACCUEIL
.cards {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    padding-left: 17px;
    padding-right: 18px;
    gap: 16px;
    flex-wrap: wrap;


    &_restaurants {
        background-color: white;
        border-radius: 15px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        flex-basis: 45%;
       
    }
// MISE EN FORME TEXTE noms et lieux PAGE ACCUEIL
    &_text {
        display: flex;
        flex-direction: column;
        padding-left: 13px;
        margin: 15px 0;
        gap:5px;
    }

    &_name {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        color: $dark;
    }

    &_adress {
        font-family: Roboto;
        font-size: 17px;
        font-weight: 300;
        color: $dark;
    }

// MISE EN FORME etiquette nouveau PAGE ACCUEIL
    &_new {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 29px;
        background-color: $tertiary ;
        position: absolute;
        top: 13px;
        right: 25px;
    }

    &_new_text {
        color: var(--green-font, #008766);
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
    }
}

// IMAGE PHOT CARD RESTAURANT
.cards img {
    object-fit: cover;
    width: 100%;
    height: 160px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-position: 0 95%;

}

// le coeur est au fichier heart

@media screen and (min-width: 767.8px) {

    .restaurants {
            padding: 0 120px 30px;
            margin-bottom: 0;
        }
        
    
    .cards {
        flex-direction: column;
        padding-left: 17px;
        padding-right: 18px;
        row-gap: 50px;
        justify-content: space-between;
    
    
        &_restaurants {
            flex-basis: 45%;
            flex-wrap: wrap;
         }
    }

}
    .cards img {
        object-position: 0 80%;
    }






@media screen and (min-width: 1024px) {

.restaurants {
        padding:0 180px;
        margin-bottom: 0;
    }
    

.cards {
    flex-direction: row;
    padding-left: 17px;
    padding-right: 18px;
    row-gap: 50px;
    justify-content: space-between;


    &_restaurants {
        flex-basis: 45%;
        flex-wrap: nowrap;
     }
}
.cards img {

    object-position: 0 90%;

}

} 