* {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: inherit;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

}