* {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", cursive;
}

@keyframes appartion {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.first {
  animation: appartion 3s ease-in-out;
}

.second {
  animation: appartion 2s ease-in-out;
}

.three {
  animation: appartion 1s ease-in-out;
}

.four {
  animation: appartion 4s ease-in-out;
}

.card_function_hover :hover {
  background-image: #FF79DA;
}

.button {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.button_form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.button_form:hover {
  background: linear-gradient(182deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
.button_text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 0px 20px;
}

.button-command {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding-left: 17px;
  padding-right: 18px;
  gap: 16px;
  flex-wrap: wrap;
}
.cards_restaurants {
  background-color: white;
  border-radius: 15px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  flex-basis: 45%;
}
.cards_text {
  display: flex;
  flex-direction: column;
  padding-left: 13px;
  margin: 15px 0;
  gap: 5px;
}
.cards_name {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  color: black;
}
.cards_adress {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  color: black;
}
.cards_new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  position: absolute;
  top: 13px;
  right: 25px;
}
.cards_new_text {
  color: var(--green-font, #008766);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}

.cards img {
  object-fit: cover;
  width: 100%;
  height: 160px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-position: 0 95%;
}

@media screen and (min-width: 767.8px) {
  .restaurants {
    padding: 0 120px 30px;
    margin-bottom: 0;
  }
  .cards {
    flex-direction: column;
    padding-left: 17px;
    padding-right: 18px;
    row-gap: 50px;
    justify-content: space-between;
  }
  .cards_restaurants {
    flex-basis: 45%;
    flex-wrap: wrap;
  }
}
.cards img {
  object-position: 0 80%;
}

@media screen and (min-width: 1024px) {
  .restaurants {
    padding: 0 180px;
    margin-bottom: 0;
  }
  .cards {
    flex-direction: row;
    padding-left: 17px;
    padding-right: 18px;
    row-gap: 50px;
    justify-content: space-between;
  }
  .cards_restaurants {
    flex-basis: 45%;
    flex-wrap: nowrap;
  }
  .cards img {
    object-position: 0 90%;
  }
}
.heart {
  Display: flex;
  Align-items: center;
  Justify-content: center;
  position: absolute;
  top: 197px;
  right: 35px;
}
.heart_regular {
  position: absolute;
}
.heart_regular:hover {
  opacity: 0.5;
  transition: all 1s ease-in-out;
}
.heart_solid {
  position: absolute;
  color: transparent;
  line-height: 1;
  opacity: 0;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(182deg, #9356DC 0%, #FF79DA 100%);
  transition: all 800ms ease-in-out;
  animation-direction: alternate;
}
.heart_solid:hover {
  opacity: 1;
  background-image: linear-gradient(182deg, #9356DC 0%, #FF79DA 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  transition: 800ms ease-in-out;
}

.card_function {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 32px;
  padding-right: 20px;
}
.card_function_filter {
  display: flex;
  height: 72px;
  align-items: center;
  gap: 30px;
  padding: 0px 33px;
  border-radius: 20px;
  background: var(--background, #F6F6F6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  transition: all 0.5s ease-in-out;
}
.card_function_filter_text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.card_function_filter:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  background: var(--background, white);
  transition: all 0.5s ease-in-out;
}
.card_function_filter:hover .grey {
  color: #9356DC;
}
.card_function .circle {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background: #9356DC;
  top: 0px;
  left: 0px;
  position: absolute;
  color: white;
  transform: translate(-50%, 100%);
}
.card_function .numero {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
  color: white;
}

.grey {
  color: #7E7E7E;
}

@media screen and (min-width: 1024px) {
  .function {
    margin: 50px 180px;
  }
  .function_title {
    margin-bottom: 25px;
  }
  .card_function {
    justify-content: space-between;
    flex-direction: row;
  }
  .card_function_filter {
    display: flex;
    height: 72px;
    align-items: center;
    gap: 30px;
    padding: 0px 33px;
    border-radius: 20px;
    background: var(--background, #F6F6F6);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    position: relative;
  }
}
.entrees, .plats, .desserts {
  display: flex;
  flex-direction: column;
}

.first, .second, .three, .four {
  margin-bottom: 12px;
}

.trait {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin: 6px 0 10px 0;
}

.card_menu {
  display: flex;
}
.card_menu_filter {
  display: flex;
  height: 42px;
  gap: 5px;
  padding: 15px;
  border-radius: 20px;
  background: var(--background, #F6F6F6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-right: 0;
  position: relative;
}
.card_menu_filter:hover .card_menu_check {
  right: 0px;
  opacity: 1;
}
.card_menu_filter:hover .card_menu_filter_price {
  margin-right: 60px;
}
.card_menu_check {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 69px;
  position: absolute;
  top: 0;
  border-radius: 0 20px 20px 0;
  background: #99E2D0;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  transition: all 1s ease-in-out;
  opacity: 0;
  right: -69px;
  cursor: pointer;
}
.card_menu_check .fa-circle-check {
  color: white;
}
.card_menu_plat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card_menu_filter_text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.card_menu_filter_subtext {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  color: black;
}
.card_menu_filter_price {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  color: black;
  transition: all 1s ease-in-out;
  margin-right: 0;
  cursor: pointer;
}
.card_menu_price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

@media screen and (min-width: 1024px) {
  .card_menu {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
  }
  .entrees, .plats, .desserts {
    margin: 0 120px;
  }
}
.arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 63px;
  padding-left: 30px;
  color: black;
}
.arrow :hover {
  color: #7E7E7E;
  transition: all 0.2s ease-in-out;
}

.foot {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 25px 25px 0px 25px;
  padding-bottom: 30px;
  gap: 7px;
}
.foot_position {
  display: flex;
  gap: 11px;
  align-items: center;
}
.foot_logo {
  color: #F6F6F6;
  font-size: 14px;
  font-weight: 400;
}
.foot_text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.foot_first {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.foot_second {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .foot {
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px 25px 20px 25px;
    align-items: flex-end;
    height: 54px;
  }
  .foot_logo {
    display: block;
    position: absolute;
  }
  .foot_logo_title {
    color: #F6F6F6;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
  }
  .foot_first {
    margin-right: 50px;
    flex-direction: row;
  }
  .foot_second {
    margin-right: 300px;
    flex-direction: row;
  }
}
header {
  display: flex;
  width: 100%;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .logo_title {
  font-family: Shrikhand;
  font-size: 30px;
  font-weight: 400;
  color: black;
}
header .big_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
  margin-right: 30px;
}

.function {
  display: flex;
  flex-direction: column;
  margin: 48px 0;
}

.function_title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  color: black;
  padding-left: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 767.8px) {
  .function {
    margin: 50px 120px;
  }
  .functiontitle {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 767.8px) and (min-width: 1024px) {
  .function {
    margin: 50px 180px;
  }
  .function_title {
    margin-bottom: 25px;
  }
}
.reserve {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #F6F6F6;
  z-index: 0;
}
.reserve_title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  color: black;
  padding: 40px 42px 10px;
  text-align: center;
}
.reserve_subtitle {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  color: black;
  text-align: center;
  padding-bottom: 25px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  width: 100%;
  height: 50px;
  z-index: 0;
}
.search_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.search input {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: black;
  background-color: #EAEAEA;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  text-align: center;
  width: 130px;
  margin: 0;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding-bottom: 48px;
}
.restaurants_title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  color: black;
  padding-left: 20px;
  margin-top: 48px;
  margin-bottom: 20px;
}

.background {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: -40px 0px 0px 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #F6F6F6;
  padding: 32px 17px 0px 17px;
  gap: 40px;
}

.img_size {
  width: 110%;
}

.background_heart {
  display: flex;
  align-items: center;
  gap: 50px;
}

.restaurant_heart {
  Display: flex;
  Align-items: center;
  Justify-content: center;
}

.title {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
}

.sub_title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  color: black;
}

@media screen and (min-width: 1024px) {
  .background {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: -40px 193px 0px 193px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #F6F6F6;
  }
  .background_heart {
    justify-content: center;
  }
  .img_size {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 50% 60%;
  }
}

/*# sourceMappingURL=main.css.map */
